---
layout: default
---
<div class="jumbotron row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>
                    {{ site.full_name }}
                </h1>
            </div>
            <div class="col">
                <h2>
                    Contact
                </h2>
                {% for link in site.contact_details %}
                <li>
                    <a class="a-link" href="{{ link.url | relative_url }}" target="_self">
                        {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ content }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {% include project-list.html %}
    </div>
</div>